<div class="admin-title">
    <h2>Blogs</h2>
    <a href="/add-blog" class="button">+ Add New</a>
  </div>
  
  <ul class="admin-posts">
<% data.forEach(blog => { %>
   
      <li>
        <a href="/blog/<%= blog._id %>">
            <%= blog.title %> &nearr;
        </a>
        <div class="admin-post-controls">
          <a href="/edit-blog/<%= blog._id %>" class="btn">Edit</a>
  
          <form action="/delete-blog/<%= blog._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn-delete btn">
          </form>
  
        </div>
  
      </li>
      <% }) %>
  
  </ul>